extends ./layout

block pageTitle 
  h1.display-3 Owners List

block content
  ul.user-list.list-group
    each user, i in users
      li.user-lit--item.list-group-item 
        <a href="/users/view/#{user.id}">#{user.name}</a>
  a(href='/users/new', class="btn btn-link btn-block") Add owner properties 