extends ./layout

block pageTitle 
  h1.display-3 Owner properties

block content
  each address, i in user.Addresses
      table.table.table-bordered
        thead.thead-default.table-striped
          tr
            th Owner
            th Address
            th IncomeGenerated
        tbody
          tr
            td #{user.name}
            td
              div #{address.line1}
              div #{address.line2}
              div #{address.line3}
              div #{address.line4}
              div #{address.postCode}
              div #{address.city}
              div #{address.country}
            td #{user.Income.value}&pound;
  a(href='/users', class="btn btn-link btn-block") Owners List 