extends ../layout

block pageTitle 
  h1.display-3 Create user properties

block content
  form(onSubmit="createUserSubmit(event)", id="createUserForm")
    div.form-group
      label(for="exampleInputEmail1") Owner
      input(type="text", class="form-control", id="exampleInputEmail1", name="owner", placeholder="Enter owner name", required)
      small(id="emailHelp", class="form-text text-muted") This name with using by owner
    
    div.form-group
      div.row
        div.col-md-6.col-sm-6
          label(for="addressLine1") line1
          input(type="text", class="form-control", id="addressLine1", name="line1", placeholder="Enteraddress line1", required)
        div.col-md-6.col-sm-6
          label(for="addressLine2") line2
          input(type="text", class="form-control", id="addressLine2", name="line2", placeholder="Enteraddress line2")
        
    div.form-group
      div.row
        div.col-md-6.col-sm-6
          label(for="addressLine3") line3
          input(type="text", class="form-control", id="addressLine3", name="line3", placeholder="Enteraddress line3")
        div.col-md-6.col-sm-6
          label(for="addressLine4") line4
          input(type="text", class="form-control", id="addressLine4", name="line4", placeholder="Enteraddress line4", required)
        
    div.form-group
      label(for="postCode") Post code
      input(type="text", class="form-control", id="postCode", name="postCode", placeholder="Post code", required)
    div.form-group
      div.row
        div.col-md-6.col-sm-6
          label(for="city") City
          input(type="text", class="form-control", id="city", name="city", placeholder="City", required)
        div.col-md-6.col-sm-6
          label(for="country") Country
          select(class="input-medium bfh-countries form-control", name="country", data-country="US", required, placeholder="Please select country...")
    div.form-group
      label(for="incomeGenerated") Income Generated
      input(type="text", class="form-control", id="incomeGenerated", required, name="incomeGenerated", placeholder="Income Generated")

    button(type="submit", class="btn btn-primary") Submit
  a(href='/users', class="btn btn-link btn-block") Owners List 